<html>
  <head>
    <meta charset="utf-8" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div id="drop-legend">
      Drop "Zuma Deluxe.zip" into this window!
    </div>
    <%= htmlWebpackPlugin.tags.bodyTags %>
  </body>
</html>